<div class="header">
    <div>
        The DocWeb
        <div style="float: right;">
            <span style="padding-right: 70px;">CAD Rate:- {{db.cad_rate}}</span>
            <span>Last Updated:- {{db.last_updated}}</span>
        </div>
    </div>
</div>
