<button (click)="refresh()" >Refresh</button>
<input style="margin-left: 350px;width: 500px;height: 20px;" placeholder="Search in the table" type="text" name="search" [(ngModel)]="filter" >
<table style="width: 100%;">
  <th>S No</th>
  <th>Currency</th>
  <th>Rate</th>
  <tr *ngFor="let val of data | filter : filter | paginate: { itemsPerPage: 25, currentPage: p }; let i = index">
    <td style="text-align: center;">{{ ((p - 1) * 25) + (i + 1) }}</td>
    <td style="text-align: center;">{{val.currency}}</td>
    <td style="text-align: center;">{{val.value}}</td>
  </tr>
</table>
<pagination-controls style="float: right;" (pageChange)="p = $event"></pagination-controls>